%h1 Listing clubs

%input{:id => "searchInput", :onkeyup => "searchFunc()", :placeholder => "Enter club name..."}
%p

%table{:id => "clubTable"}
  %thead
    %tr
      %th Name
      %th Postcode
      %th Contactnumber
      %th Paymentduedate
      %th
      %th
      %th

  %tbody
    - @clubs.each do |club|
      %tr
        %td= club.name
        %td= club.postcode
        %td= club.contactnumber
        %td= club.paymentduedate
        %td= link_to 'Show', club
        %td= link_to 'Edit', edit_club_path(club), class: 'ajax-modal'
        %td= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  function searchFunc() {
    input = document.getElementById("searchInput").value.toUpperCase();
    table = document.getElementById("clubTable");
    row = table.getElementsByTagName("tr");
    for (i = 0; i < row.length; i++) {
      clubName = row[i].getElementsByTagName("td")[0];
      if (clubName) {
        text = clubName.textContent || clubName.innerText;
        if (text.toUpperCase().indexOf(input) > -1) {
          row[i].style.display = "";
        } else {
          row[i].style.display = "none";
        }
      }
    }
  }

%br

= link_to 'New Club', new_club_path, class: 'ajax-modal'
