.modal-dialog
  .modal-content
    = simple_form_for @club do |f|
      .modal-header
        %h4.modal-title Create club
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :name
        = f.input :postcode
        = f.input :contactnumber
        = f.input :paymentduedate
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'
