%p#notice= notice

.panel-header
  %h1= @club.name
.row
  .colquart
    %p
      %b Postcode:
      = @club.postcode
    %p
      %b Contact Info:
      = @club.contactnumber

    .button
      = link_to 'Submit Weekly Hours', clubs_path

    <br>
    .button
      = link_to 'Back', clubs_path

    <br>
    .button
      = link_to 'Edit', edit_club_path(@club), class: 'ajax-modal'
  
  .colthreequart
    %h2 Events Hosted
    %table
      %thead
        %tr
          %th Event Hosted
          %th Date of Event
          %th 

      %tbody
        - @events.each do |event|
          %tr
            %td= event.name
            %td= event.date
            %td= link_to 'View', event

              