%p#notice= notice

.panel-header
  %h1= @club.name
.row
  .colquart
    %p
      %b Postcode:
      = @club.postcode
    %p
      %b Contact Info:
      = @club.contactnumber

    %br

    %b Weekly Meetings:
    - MeetingType.new.mostRecentMeetings(@club.id).each do |meeting|
      %p #{meeting.day} at #{meeting.time.to_s(:time)} | #{meeting.sessiontype}
    
    %br

    -# .button
    -#   = link_to 'Submit Weekly Hours', hours_clubs_path(@club), method: :post

    %br
    - if can?(:read, rails_admin)
      = link_to 'Back', clubs_path, class: "btn btn-secondary"
    - else
      = link_to 'Submit Affiliation Form', new_club_info_path, class: "btn btn-secondary"

    %br
    %br
    = link_to 'Edit', edit_club_path(@club), class: 'ajax-modal btn btn-secondary' 
  
  .colthreequart
    %h2 Events Hosted
    - if @events.length > 0
      %input{:id => "eventInput", :onkeyup => "searchFunc('eventInput', 'eventTable')", :placeholder => "Enter event name..."}
      %p

      %table{:id => "eventTable"}
        %thead
          %tr
            %th Event Hosted
            %th Date of Event

        %tbody
          - @events.each do |event|
            %tr
              %td= event.name
              %td= event.date
              %td= link_to 'View', event
              %td= link_to 'Edit', edit_event_path(event), class: 'ajax-modal'
    - else
      .error-message
        %p No events for this club

:javascript
  function searchFunc(searchId, searchTable) {
    input = document.getElementById(searchId).value.toUpperCase();
    table = document.getElementById(searchTable);
    row = table.getElementsByTagName("tr");
    for (i = 0; i < row.length; i++) {
      clubName = row[i].getElementsByTagName("td")[0];
      if (clubName) {
        text = clubName.textContent || clubName.innerText;
        if (text.toUpperCase().indexOf(input) > -1) {
          row[i].style.display = "";
        } else {
          row[i].style.display = "none";
        }
      }
    }
  }