%p#notice= notice

.panel-header
  %h1
    = @club.name
.row
  .colquart
    %p
      %b Postcode:
      = @club.postcode
    %p
      %b Contact Info:
      = @club.contactnumber

    .button
      = link_to 'Edit', edit_club_path(@club)

    <br>
    .button
      = link_to 'Back', clubs_path
      
  .colthreequart
    %h2 Events Hosted
    %table
      %thead
        %tr
          %th Event Hosted
          %th Date of Event
          %th 
          