%p= link_to "Add Volunteer", new_volunteer_path, class: 'ajax-modal btn btn-secondary'

- if @volunteers.length > 0

  %table
    %thead
      %tr
        %th Name
        %th Contact Number
        %th Young Person?
        %th Email
        %th Hours
        %th Target
        %th
        %th

    %tbody#volunteerTable
      - Volunteer.all.each do |volunteer|
        %tr
          %td= volunteer.name
          %td= volunteer.contactnumber
          %td= volunteer.youngPerson
          %td= volunteer.email
          %td= volunteer.hours
          %td= volunteer.target
          %td= link_to 'Edit', edit_volunteer_path(volunteer), class: "ajax-modal"
          %td= link_to 'Delete', volunteer, method: :delete, data: { confirm: 'Are you sure?' }



- else
  .error-message
    %h5 No volunteers available



    