.modal-dialog
  .modal-content
    = simple_form_for Volunteer.new, remote: true do |f|
      .modal-header
        %h4.modal-title New Volunteer
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :name
        = f.input :contactnumber, label: "Contact number"
        = f.input :addressone, label: "First line of address"
        = f.input :addresstwo, label: "Second line of address"
        = f.input :email
        = f.input :postcode
        = f.input :hours, label: "Hours volunteered"
        = f.input :target, label: "Target number of hours to volunteer"

          
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'
