%p#notice= notice

%p
  %b Name:
  = @volunteer.name
%p
  %b Contactnumber:
  = @volunteer.contactnumber
%p
  %b Email:
  = @volunteer.email
%p
  %b Young Person:
  = @volunteer.youngPerson
%p
  %b Hours:
  = @volunteer.hours
%p
  %b Target:
  = @volunteer.target

= link_to 'Edit', edit_volunteer_path(@volunteer)
\|
= link_to 'Back', volunteers_path
