%h1 Listing Club Data & Statistics

%input{:id => "searchInput", :onkeyup => "searchFunc()", :placeholder => "Enter club name..."}
%br
%br

%table{:id => "clubTable"}
  %thead
    %tr
      %th Club Name
      %th Postcode
      %th Males
      %th Females
      %th Lowerage
      %th Upperage
      %th Disability
      %th Ethnicity
      %th Depravation
      %th Drugsandabs
      %th Neets

  %tbody
    - @club_data.each do |club_datum|
      - @club_infos.each do |club_info|
        - if club_info.club_id == club_datum.id
          %tr
            %td= club_datum.name
            %td= club_datum.postcode 
            %td= club_info.males
            %td= club_info.females
            %td= club_info.lowerage
            %td= club_info.upperage
            %td= club_info.disability
            %td= club_info.ethnicity
            %td= club_info.depravation
            %td= club_info.drugsandabs
            %td= club_info.neets
    %tr
      %td= "Total Sum"
      %td 
      - @sum.each do |num|
        %td= num
    %tr
      %td= "Average per club" 
      %td
      - @average.each do |num|
        %td= num

%br

.button 
  = link_to 'PDF Download', club_data_path(@club_data, format: "pdf" )

:javascript
    function searchFunc() {
      input = document.getElementById("searchInput").value.toUpperCase();
      table = document.getElementById("clubTable");
      row = table.getElementsByTagName("tr");
      for (i = 0; i < row.length; i++) {
        clubName = row[i].getElementsByTagName("td")[0];
        if (clubName) {
          text = clubName.textContent || clubName.innerText;
          if (text.toUpperCase().indexOf(input) > -1) {
            row[i].style.display = "";
          } else {
            row[i].style.display = "none";
          }
        }
      }
    }