%h1 Donors

%ul.nav.nav-tabs
    %li.nav-item
        %button.nav-link.active#individual Individuals
    %li.nav-item
        %button.nav-link#trusts Trusts and Foundations
    %li.nav-item
        %button.nav-link#commercial Commerical and Contracts
    %li.nav-item    
        %button.nav-link#prospective Prospective Donors
%br
%br


#individualsTable
    %h3 Individual Donors  
    #individualBody
        = render "individuals_table"

    %br
    = link_to 'Add Donor', new_donor_path, class: "btn btn-secondary ajax-modal", id: " individualAdd"

#trustsTable
    %h3 Trust/Foundation Donors
    #trustBody
        = render "trusts_table"

    %br
    = link_to 'Add Donor', new_trust_path, class: "btn btn-secondary ajax-modal"


#commercialsTable
    %h3 Commercial/Contract Donors
    #commercialBody
        = render "commercials_table"
    %br
    = link_to 'Add Donor', new_commercial_path, class: "btn btn-secondary ajax-modal"

#prospectivesTable
    %h3 Prospective Donors
    #prospectiveBody
        = render "prospectives_table"
    %br
    = link_to 'Add Prospective Donor', new_prospective_donor_path, class: "btn btn-secondary ajax-modal"
