%h1 Listing donors

- if @donors.length > 0
  %table
    %thead
      %tr
        %th Name
        %th Type
        %th Contactnumber
        %th Email
        %th Totaldonation

    %tbody
      - @donors.each do |donor|
        %tr
          %td= donor.name
          %td= donor.type
          %td= donor.contactnumber
          %td= donor.email
          %td= donor.totaldonation
          %td= link_to 'Show', donor
          %td= link_to 'Edit', edit_donor_path(donor)
          %td= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' }

- else
  .error-message
    %h5 No donors available

%br

= link_to 'New Donor', new_donor_path
