%h1 Donors

%button.btn.btn-secondary#individual Individuals
%button.btn.btn-secondary#trusts Trusts and Foundations
%button.btn.btn-secondary#commercial Commerical and Contracts
%button.btn.btn-secondary#prospective Prospective Donors

%br
%br


#individualsTable
    %h3 Individual Donors  
    #individualBody
        = render "individuals_table"

    %br
    = link_to 'Add Donor', new_donor_path, class: "btn btn-secondary ajax-modal", id: " individualAdd"

#trustsTable
    %h3 Trust/Foundation Donors
    #trustBody
        = render "trusts_table"

    %br
    = link_to 'Add Donor', new_trust_path, class: "btn btn-secondary ajax-modal"


#commercialsTable
    %h3 Commercial/Contract Donors
    #commercialBody
        = render "commercials_table"
    %br
    = link_to 'Add Donor', new_commercial_path, class: "btn btn-secondary ajax-modal"

#prospectivesTable
    %h3 Prospective Donors
    #prospectiveBody
        = render "prospectives_table"
    %br
    = link_to 'Add Prospective Donor', new_prospective_donor_path, class: "btn btn-secondary ajax-modal"
