-# frozen_string_literal: true
= simple_form_for(MeetingType.new) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :day
    = f.input :time
    = f.input :sessiontype, label: "Session Type"

  .form-actions
    = f.button :submit
