.modal-dialog
  .modal-content
    = simple_form_for @meeting_type, remote: true do |f|
      .modal-header
        %h4.modal-title New Meeting
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :day, collection: ['Monday','Tuesday','Wednesday','Thursday', 'Friday', 'Saturday', 'Sunday']
        = f.input :time
        /Pulls all the different session types from the database and gives them as options
        = f.input :sessiontype, collection: MeetingType.distinct.pluck(:sessiontype), label: "Session Type"

          
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'
