.modal-dialog
  .modal-content
    = simple_form_for MeetingType.new, remote: true do |f|
      .modal-header
        %h4.modal-title New Meeting
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :day, collection: ['Monday','Tuesday','Wednesday','Thursday', 'Friday', 'Saturday', 'Sunday']
        = f.input :time
<<<<<<< HEAD
<<<<<<< Updated upstream
        = f.input :sessiontype, collection: MeetingType.distinct.pluck(:sessiontype).push("Other"), id: "sessionTypesCombo"
        = f.input :sessiontype, id: "sessionTypeTxt", input_html: { disabled: true }
=======
        = f.input :sessiontype, collection: MeetingType.distinct.pluck(:sessiontype), id: "sessionTypesCombo"

>>>>>>> 0cbc5fff0d2de36485f893825e06677ff8e7036a
      %br
      %br
=======
        = f.input :sessiontype, collection: MeetingType.distinct.pluck(:sessiontype)
>>>>>>> Stashed changes

          
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'
