- @event_feedbacks.each do |event_feedback|
    %tr
        %td= Event.find_by(id: event_feedback.event_id).date.strftime("%d/%m/%Y") 
        %td= Event.find_by(id: event_feedback.event_id).name
        %td= event_feedback.comment
        %td
            - if event_feedback.pdf.attached?
                %h5 Click show to find pdf
            - else
                .error-message
                    %h5 No Event Feedback PDF attached
        %td= link_to 'Show', event_feedback
        %td= link_to 'Delete', event_feedback, method: :delete, data: { confirm: 'Are you sure?' }