.modal-dialog
  .modal-content
    = simple_form_for EventFeedback.new, remote: true do |f|
      .modal-header
        %h4.modal-title New Event Feeback
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.association :event, collection: Event.where(club_id: current_user.club_id)
        = f.input :comment
        = f.file_field :pdf
          
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'