%h1 Event volunteers for #{@event.name}

- if @event_volunteers.length > 0
  %table
    %thead
      %tr
        %th Volunteer ID
        %th Name
      
    %tbody
      - @event_volunteers.each do |event_volunteer|
        %tr
          %td= event_volunteer.volunteer_id
          %td= get_volunteer(event_volunteer).name
          %td= link_to 'Show', event_volunteer
          %td= link_to 'Edit', edit_event_volunteer_path(event_volunteer)
          %td= link_to 'Destroy', event_volunteer, method: :delete, data: { confirm: 'Are you sure?' }
- else
  .error-message
    %h5 No events exist

%br

.button
  = link_to 'New Event volunteer', new_event_event_volunteer_path(@event)

%br
.button
  = link_to 'Back', @event
