%p#notice= notice

%p
  %b Volunteer ID:
  = @event_volunteer.volunteer_id
   
%p
  %b Name:
  = @event_volunteer.volunteer.name


= link_to 'Edit', edit_event_event_volunteer_path(@event,@event_volunteer)
\|
= link_to 'Back', event_event_volunteers_path(@event)
