-# frozen_string_literal: true
= simple_form_for(@event) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :comment
    = f.input :date
    = f.input :end_time
    = f.association :club, collection: Club.where(id: current_user.club_id)
    -# Ensures that they can only select their own Club when creating events
    - if can?(:read, rails_admin)
      = f.input :spaces_left
      = f.input :all_groups
  .form-actions
    = f.button :submit

