%h1 Listing events

%p There are #{@events.size} events to search through.

= simple_form_for :search, url: search_events_path, method: :post do |f|
  = f.input :clubname


  = f.submit 'Search'
  = link_to 'Reset', events_path

%br
%table
  %thead
    %tr
      %th Name
      %th Date
      %th Comment
      %th Club Name
      %th Link to CLUB with ID

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= event.date
        %td= event.comment
        %td= event.club.name
        %td= link_to event.club_id, club_id_page_path(club_individual: event.club_id)
        -# %td= link_to event.id, event_id_page_path(event_individual: event.id)
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
