%h1 Listing events

- if @events.length > 0

  %p There are #{@events.size} events to search through.

  %input{:id => "eventInput", :onkeyup => "searchFunc('eventInput', 'eventTable')", :placeholder => "Enter event name..."}
  %p

  %br
  %table{:id => "eventTable"}
    %thead
      %tr
        %th Name
        %th Comment
        %th Start Time
        %th End Time
        %th Club Name
        %th Link to CLUB with ID

    %tbody
      - @events.each do |event|
        %tr
          %td= event.name
          %td= event.comment
          %td= event.start_time
          %td= event.end_time
          %td= event.club.name
          %td= link_to event.club_id, club_id_page_path(club_individual: event.club_id)
          %td= link_to 'Show', event
          %td= link_to 'Edit', edit_event_path(event)
          %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

- else
  .error-message
    %h5 No events exist

%br

.button
  = link_to 'New Event', new_event_path

:javascript
  function searchFunc(searchId, searchTable) {
    input = document.getElementById(searchId).value.toUpperCase();
    table = document.getElementById(searchTable);
    row = table.getElementsByTagName("tr");
    for (i = 0; i < row.length; i++) {
      clubName = row[i].getElementsByTagName("td")[0];
      if (clubName) {
        text = clubName.textContent || clubName.innerText;
        if (text.toUpperCase().indexOf(input) > -1) {
          row[i].style.display = "";
        } else {
          row[i].style.display = "none";
        }
      }
    }
  }