%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Comment:
  = @event.comment
%p
  %b Start Time:
  = @event.start_time
%p
  %b End Time:
  = @event.end_time

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
