%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Date:
  = @event.date
%p
  %b Comment:
  = @event.comment
%p
  %b Club Name:
  = @event.clubname
%p
  %b Club ID:
  = @event.club_id

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
