%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Comment:
  = @event.comment
%p
  %b Start Date:
  = @event.start_time
%p
  %b End Date:
  = @event.end_time
%p
  %b Club Name:
  = @event.club.name
%p
  %b Club ID:
  = @event.club_id
%p
  %b Consent Forms:
  = link_to event_consent_forms_path(@event) do
    click here


.button
  = link_to 'Edit', edit_event_path(@event)
<br>
.button
  = link_to 'Back', events_path
