%h1 Listing donations

- if @donations.length > 0
  %table
    %thead
      %tr
        %th Amount
        %th Date
        %th Method
        %th Recurring
        %th Restricted

    %tbody
      - @donations.each do |donation|
        %tr
          %td= donation.amount
          %td= donation.date
          %td= donation.method
          %td= donation.recurring
          %td= donation.restricted
          %td= link_to 'Show', donation
          %td= link_to 'Edit', edit_donation_path(donation)
          %td= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' }

- else
  .error-message
    %h5 No donations available

%br

.button
  = link_to 'New Donation', new_donation_path
