.modal-dialog
  .modal-content
    = simple_form_for Donation.new, remote: true do |f|
      .modal-header
        %h4.modal-title New Donation
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :date
        /Choose donor from all the available donors in the system
        = f.input :donor_id, :collection => Donor.all.collect {|c| [c.name, c.id]}
        = f.input :amount
        = f.input :recurring, collection: ['Yearly','Quarterly','Monthly','Weekly', 'One Off']
        = f.input :restricted
        

          
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'