.modal-dialog
  .modal-content
    = simple_form_for Trust.new, remote: true do |f|
      .modal-header
        %h4.modal-title New Commercial/Contract Donor
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :datesubmitted, label: "Date Submitted:"
        = f.input :thankdate, label: "Date to next say thank you:"
        = f.input :name, input_html: {value: ''}
        = f.input :email, input_html: {value: ''}
        = f.input :contactnumber, input_html: {value: ''}
        = f.input :totaldonation, :as => :hidden, input_html: {value: 0}
          
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'