- @case_studies.each do |case_study|
    %tr
        %td= case_study.date.strftime("%d/%m/%Y") 
        %td= case_study.participant
        /Looks up the name of the club it is associated to and fills the table with it
        %td= Club.find(case_study.club_id).name
        %td= case_study.comment
        %td= link_to 'Show', case_study
        %td= link_to 'Delete', case_study, method: :delete, data: { confirm: 'Are you sure?' }