-# frozen_string_literal: true
= simple_form_for(@case_study) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :date
    = f.input :participant
    = f.input :comment
    = f.collection_select :event, Event.where(club_id: current_user.club_id), :id, :name, include_blank: true 

  .form-actions
    = f.button :submit
