-# frozen_string_literal: true
= simple_form_for(@case_study) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :date
    = f.input :participant
    = f.input :club_id, :collection => Club.all.collect {|c| [c.name, c.id]}
    = f.input :comment

  .form-actions
    = f.button :submit
