%h1 Case Studies

- if @case_studies.length > 0

  %p There are #{@case_studies.size} case studies to search through.

  %table
    %thead
      %tr
        %th Date
        %th Participant
        %th Club
        %th Comment 

    %tbody
      - @case_studies.each do |case_study|
        %tr
          %td= case_study.date
          %td= case_study.participant
          %td= Club.find(case_study.club_id).name
          %td= case_study.comment
          %td= link_to 'Show', case_study
          %td= link_to 'Delete', case_study, method: :delete, data: { confirm: 'Are you sure?' }

- else
  .error-message
    %h5 No case studies exist

%br
%p= link_to "Add Case Study", new_case_study_path, class: 'ajax-modal btn btn-secondary'
