!!!
%html
  %head
    %title Bgcsy - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = icon('fas', 'check', class: 'flash-success')
            - else
              = icon('fas', 'exclamation-triangle', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss

    #wrap
      %header
        %nav#main-nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
          .container
            .navbar-header
              = link_to :root, class: 'navbar-brand hidden-sm' do
                BGCSY
            %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
              %span.navbar-toggler-icon

            .collapse.navbar-collapse#navbar-content
              %ul.nav.navbar-nav
                - if can?(:read, rails_admin)
                  = navbar_link_to :root, title: "Go to the List all clubs page", identifier: :home do
                    = icon 'fas', 'home'
                    Clubs
                = navbar_link_to club_infos_path, title: "Go to club_infos", identifier: :clubs do
                  = icon 'fas', 'globe'
                  Club Data
                = navbar_link_to events_path, title: "Go to events", identifier: :events do
                  = icon 'fas', 'map-marker'
                  Events
                = navbar_link_to case_studies_path, title: "Go to case_studies", identifier: :case_studies do
                  = icon 'fas', 'camera'
                  Case Studies
                = navbar_link_to donations_path, title: "Go to donations", identifier: :donations do
                  = icon 'fas', 'credit-card'
                  Donations
                - if can?(:read, rails_admin)
                  = navbar_link_to rails_admin_path, title: "Go to Management Dash", identifier: :rails_admin do
                    = icon 'fas', 'edit'
                    User Management
                = navbar_link_to event_calendars_path, title: "Go to event_calandars", identifier: :event_calandars do
                  = icon 'fas', 'calendar'
                  Calendar

              - if user_signed_in?
                %ul.nav.navbar-nav.ml-auto
                  %li.nav-item.dropdown
                    = link_to '#', aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link dropdown-toggle', role: 'button' do
                      = icon 'fas', 'user', current_user.email
                      %b.caret
                    .dropdown-menu{ aria: { labelledby: '#navbar-user-link' } }
                      = link_to destroy_user_session_path, class: 'dropdown-item', method: :delete, title: "Log out of the system" do
                        = icon 'fas', 'sign-out-alt', 'Log out'
                      = link_to edit_user_registration_path, class: 'dropdown-item', title: "Change Password" do
                        = icon 'fas', 'cog', 'Change Password'
      %main
        #main-container.container
          = yield

    %footer#footer
      .container
        %p
          &copy; #{Date.today.year}
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'
